<!DOCTYPE html>
<html lang="en">
<head>
<title>s-DELI_tenpo</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="aStar Fashion Template Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="styles/bootstrap-4.1.3/bootstrap.css">
<link href="plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="styles/cart.css">
<link rel="stylesheet" type="text/css" href="styles/cart_responsive.css">
<link rel="stylesheet" type="text/css" href="styles/navbar.css">
<link rel="stylesheet" type="text/css" href="styles/tenpo.css">
</head>
<body>

<div class="super_container">

	<!-- Sidebar -->

  {% include 'tenpo_sidebar.html.twig' %}
  {% include 'tenpo_navbar.html.twig' %}

	<!-- Home -->

	<div class="home">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/header.png" data-speed="0.8"></div>
		<div class="home_container">
			<div class="home_content">
				<div class="home_title">注文表</div>
				<div class="breadcrumbs">
					<ul class="d-flex flex-row align-items-center justify-content-start">
						<li>店舗専用ページ</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Cart -->

	<div class="cart_section">


		<div class="section_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="cart_container">
							<p class="lead text-dark">配達時間変更</p>
							<ul class="change_timebox">
								<li class="change_time">
									<form action="" method="post">
										<select name="time">
										{% for value in timeArr %}
											<option value="{{value}}">{{value}}</option>
										{% endfor %}
										</select>
										<input type="submit" name="change" value="変更">
									</form>
								</li>
								<li class="now_time">
								<p class="text-dark">現在{{wait_time.time}}分</p>
								</li>
							</ul>


							<!-- Cart Bar -->
							<div class="cart_bar">
								<ul class="cart_bar_list tenpo_item_list d-flex flex-row align-items-center justify-content-start">
									<li>名前</li>
									<li>郵便番号</li>
									<li>住所</li>
									<li>電話番号</li>
									<li>注文内容</li>
									<li>合計金額</li>
									<li>配達時間</li>
									<li>配達完了</li>
								</ul>
							</div>

          {% if dataArr | length == 0 %}
            <p class="lead pt-4 text-dark" >現在の注文はありません</p>
          {% else %}
              {% for value in dataArr %}
							<!-- Cart Items -->
							<div class="cart_items">
								<ul class="cart_items_list">
									<!-- Cart Item -->
									<li class="cart_item tenpo_item_list d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
										<div class="product_price text-lg-center product_text"><span>product_name: </span>{{value.name}}　様</div>
										<div class="product_price text-lg-center product_text"><span>zip: </span>{{value.zip1}}-{{value.zip2}}</div>
										<div class="product_price text-lg-center product_text"><span>address: </span>{{value.address}}</div>
										<div class="product_price text-lg-center product_text"><span>tel: </span>{{value.tel1}}-{{value.tel2}}-{{value.tel3}}</div>
										<div class="product_total text-lg-center product_text"><span>total: </span>{{value.item_name}} :  {{value.total}}</div>
                    <div class="product_price text-lg-center product_text"><span>total.price: </span>{{value.total_price|number_format(0,'.',',')}}円</div>
                    <div class="product_price text-lg-center product_text"><span>time: </span>{{value.time}}</div>
                    <div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
      								<div class="cart_buttons_inner ml-auto d-flex flex-row align-items-start justify-content-start flex-wrap pb-4 ">
      									<div class="button button_update trans_200 "><a class="font-weight-bold" href="{{constant('seika\\Bootstrap::ENTRY_URL')}}tenpo.php?cmp_id={{value.cmp_id}}">finish</a></div>
      								</div>
      							</div>
									</li>
								</ul>
							</div>
              {% endfor %}
          {% endif %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->

  {% include 'footer.html.twig'%}

</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap-4.1.3/popper.js"></script>
<script src="styles/bootstrap-4.1.3/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/cart.js"></script>
</body>
</html>
